.App {
  text-align: center;
}

.App-Header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.App-Header > .ui.menu {
  border-radius: 0 !important;
}

.header-menu {
  position: absolute;
  z-index: 500;
  right: 0.5vw;
}

.image-preview {
  width: 200px;
  height: auto;
}

.camera video {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  top: 0;
  left: 0;
}

.capture-frame {
  position: absolute;
  width: 80vw;
  height: 64vw;
  top: 0;
  left: 10vw;
  margin: 0 auto;
  border: solid 2px yellowgreen;
  z-index: 10000;
}

.camera button {
  position: relative;
  top: 80vw;
  z-index: 10000;
}

#canvas {
  position: absolute;
  z-index: 100001;
}
