.App {
  text-align: center;
}

.App-Header {
  position: sticky;
  z-index: 500;
  top: 0;
}

.App-Body {
  padding-bottom: 5px;
}

.App-Body * {
  display: block;
	margin-left: auto;
	margin-right: auto;
}

.App-Header > .ui.menu {
  border-radius: 0 !important;
}

.header-menu {
  position: absolute;
  z-index: 500;
  transform: translate(0, -14px);
  right: 0.5vw;
}

.help {
  color:olivedrab;
  cursor: pointer;
  display: inline-block;
}

.image-preview {
	width: 200px;
	height: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}

.camera {
  height: 0;
}

.camera .background {
  position: absolute;
  z-index: 9998;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.85;
  top: 0;
  left: 0;
}

.camera video {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  top: 0;
  left: 0;
}

.capture-frame {
  position: absolute;
  width: 80vw;
  height: 64vw;
  top: 0;
  left: 10vw;
  margin: 0 auto;
  border: solid 2px yellowgreen;
  z-index: 10000;
}

.camera .icon {
  position: relative;
  top: 64vw;
  z-index: 10000;
}

.camera .cancel-button {
  margin-right: 50px;
}

.dropzone {
  margin-bottom: 14px;;
}

.reset-button {
  margin-bottom: 14px !important;
}

.treasure-position {
  height: auto;
  background-color: #C23175;
  color: white;
  font-size:x-large;
}

.map-number-dropdown {
  position: absolute !important;
  top: 1px;
  right: 1px;
}

.dropdown.map-number-dropdown > div.divider.default.text {
  color: rgb(19, 19, 19);
}

.overview-container {
  margin-top: 14px;
  position: relative;
  width:fit-content;
}

.map-overview {
  max-width: 95vw;
}

.gaming {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gaming 2s linear infinite;
}
@keyframes gaming {
  /* backgroundを移動させる */
  100% { background-position-x: 200%; }
}

.inlinethanks {
  display: inline;
}

.shapes {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: turquoise;
  overflow: hidden;
}

.shape {
  /* will-change: transform; */
  position: absolute;
  border-radius: 50%;
  top: 50vh;
  left: 50vw;
}

.shape1 {
  background-color: green;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}
.shape2 {
  background-color: red;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}
.shape3 {
  background-color: purple;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.toppage-content {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  mix-blend-mode: screen;
}

.toppage-content div {
  color: black;
  height: auto;
  margin-top: 35vh;
  font-size: 30vw;
}

.toppage-content p {
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, 0);
}

.help-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 5px;;

}

.image-description {
  display: inline;
  vertical-align: top;
}

.ui.modal p {
  clear: both;
}

.link-message {
  margin-top: 14px;
}