.App {
  text-align: center;
}

.App-Header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.App-Header > .ui.menu {
  border-radius: 0 !important;
}

.header-menu {
  position: absolute;
  z-index: 500;
  right: 0.5vw;
}

.image-preview {
  width: 200px;
  height: auto;
}

.camera video {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  top: 0;
  left: 0;
}

.capture-frame {
  position: absolute;
  width: 40vw;
  height: 40vw;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  border: solid 2px yellowgreen;
  z-index: 10000;
}

.camera button {
  position: relative;
  z-index: 10000;
}